.center-wrap {
    width: 1201px;
    margin: 0 auto;
}

.clearfix {
    overflow: hidden;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}