.service-list[data-v-c7dde220]{padding:20px}.filter-section[data-v-c7dde220]{margin-bottom:20px}.pagination-section[data-v-c7dde220]{margin-top:20px;display:flex;justify-content:flex-end}.sort-section[data-v-c7dde220]{margin-top:20px}
