.page-container[data-v-c64e12d7]{padding:0}.search-card[data-v-c64e12d7],.table-card[data-v-c64e12d7]{margin-bottom:20px}.pagination-wrap[data-v-c64e12d7]{margin-top:20px;display:flex;justify-content:flex-end}
