.page-container[data-v-a1725e41]{padding:0}.search-card[data-v-a1725e41],.table-card[data-v-a1725e41]{margin-bottom:20px}.pagination-wrap[data-v-a1725e41]{margin-top:20px;display:flex;justify-content:flex-end}
